---
title: Veranstaltungen
permalink: /
layout: events
---
<ul>
  {% for event in site.data.events.y2025 %}        
  <li class="event-item" style="--accent-color:#3B3B54;
--bullet:var(--hand_black);" data-event-from="{{ event.from }}" data-event-to="{{ event.to }}">
      <div class="date">{{ event.from | date: "%d.%m.%Y" }} {% if event.to %} - {% endif %} {{ event.to | date: "%d.%m.%Y" }}</div>
      <div class="title">
          <a class="proj_title
          " href="{{ event.link }}">{{ event.title }}</a>
      </div>
  <div class="descr">
    <a href="{{ event.link }}">
        <img src="/assets/img/{{event.cover}}" class="img_small" alt="">
    </a>
     <p>{{ event.short }}</p>
  </div>
  </li>  
{% endfor %}
</ul>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('all')) {
      return;
    }

    const today = new Date();
    const eventItems = document.querySelectorAll('.event-item');

    eventItems.forEach(item => {
      const eventFromDate = new Date(item.getAttribute('data-event-from'));
      const eventToDate = item.getAttribute('data-event-to') ? new Date(item.getAttribute('data-event-to')) : null;

      if ((eventToDate && eventToDate < today) || (!eventToDate && eventFromDate < today)) {
        //item.style.display = 'none';
        item.remove();
      }
    });
  });
</script>