<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/menu25.css">
        <link rel="stylesheet" href="/assets/css/events.css">
        <link rel="stylesheet" href="/assets/css/spring.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="{{page.keywords}}">
        <meta name="description" content="{{page.description}}">
      </head>
<body>
    <!-- Biene -->
    <div class="bee">🐝</div>

    <!-- Blütenblätter -->
    <div class="petal">❀</div>
    <div class="petal">✿</div>
    <div class="petal">❁</div>
    <div class="petal">✾</div>
    <div class="petal">❀</div>
    <div class="petal">✿</div>
    <div class="petal">❁</div>
    <div class="petal">❀</div>
    <div class="petal">✿</div>
    <div class="petal">❁</div>
    <div class="petal">✾</div>
    <div class="petal">❀</div>
    <div class="petal">✿</div>
    <div class="petal">❁</div>
    <div class="petal">✾</div>
    <div class="petal">❀</div>
    <div class="petal">✿</div>
    <div class="petal">❁</div>
    <div class="petal">✾</div>
    <div class="petal">❀</div>

    {% include navigation.html %}
    <main class="main">
            <h1>{{ page.title }}</h1>
            {{ content }}
    </main>
</body>

</html>
